body{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: #0D0D0D;
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

  .card {
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 20s;
    animation: flip 8s infinite linear;
  }

  .card:hover {
    animation-play-state: paused;
  }

  @keyframes flip {
    0% {
      transform: rotateY(0deg);
    }
    25% {
      transform: rotateY(180deg);
    }
    50% {
      transform: rotateY(0deg);
    }
    75% {
      transform: rotateY(180deg);
    }
    100% {
      transform: rotateY(0deg);
    }
  }

  .fundmefriends.active{
    background-color: #0D0D0D;
    border-radius: .5rem;
  }

  .fundmeusers.active{
    background-color: #0D0D0D;
    border-radius: .5rem;
  }

  .details.active {
    background-color: #0D0D0D;
    border-radius: .5rem;
    padding: 4px;
  }
  .useractivity.active {
    background-color: #0D0D0D;
    border-radius: .5rem;
    padding: 4px;
  }


  /* {<>
    <div className={`${className} ${navstyles} m-auto rounded-md shadow-sm shadow-[#6D7D93]`}>
      <div className='flex justify-around h-10 items-center'>
        <img src={`${arrowIcon ? arrowLeft : ''}`} className={`object-contain ${arrowIcon ? 'bg-[#0D0D0D]' : ''}`} />
        <NavLink to={'fundmefriends'}>
          <li className={`${sidestyles}`} onClick={() => dispatch({ type: "arrowIcon", payload: arrowLeft })}>
            Friends
          </li>
        </NavLink>
        <NavLink to={'fundmeusers'}>
          <li className={` ${sidestyles}`} onClick={() => dispatch({ type: "arrowIcon", payload: arrowRight })}>
            Users
          </li>
        </NavLink>
        <img src={`${arrowIcon ? arrowRight : ''}`} className={`object-contain ${arrowIcon ? 'bg-[#0D0D0D]' : ''} `} />
      </div>
    </div>
    <div> */